
<div class="text-center">
  <%- if current_user.present? %>
  <div class="row form" id="starting_point">
    <div class="col-xs-12">
      <h2 class="lead">What Do You Want To Do?</h2>
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="#" class="btn btn-block btn-text text-black btn-lg">
              <span class="jumbotron-icon" data-target="choose_country" data-placement="bottom" data-toggle="tooltip" data-trigger="manual" title="Add New Article">
                <i class="fa fa-plus-square-o fa-4"></i>
              </span>
            </a>
          </div>
        
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="#" class="btn btn-block btn-text text-black btn-lg" data-target="edit_page">
              <span class="jumbotron-icon" data-target="choose_country" data-placement="bottom" data-toggle="tooltip" data-trigger="manual" title="Update Article">
                <i class="fa fa-pencil-square-o fa-4"></i>
              </span>
            </a>
          </div>
        
        <%- if current_user.ambassador %>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <%= link_to moderator_url, class: "btn btn-block btn-text text-black btn-lg" do %>
              <span class="jumbotron-icon" data-placement="bottom" data-toggle="tooltip" data-trigger="manual" title="Moderator Mode">
                <i class="fa fa-check-square-o fa-4"></i>
              </span>
            <% end %>
          </div>
        <%- end %>
        </div>

    </div>
  </div>
  

  <!-- choose_country -->
  <div class="row text-left hide form" id="choose_country">
    <div class="col-md-5 col-md-offset-1">

      <div class="form-group">
        <label>First, select your country &amp; add the name</label>
        <%= render 'shared/country_select' %><br>
        <input type="text" id="page_name" class="form-control input-lg">
      </div>

    </div>
        
    <div class="col-xs-3">
      <div class="form-group">
        <label>Then select the wiki collection</label>
        <div class="row">
          <div class="col-md-6 text-left">
            <a href="#" class="next labeled" data-target="add_startup">Startups</a><br>
            <a href="#" class="next labeled" data-target="add_investor">Investors</a><br>
            <a href="#" class="next labeled" data-target="add_people">People</a><br>
            <a href="#" class="next labeled" data-target="add_community">Communities</a>
          </div>
        </div>
      </div>
    </div>
        
    <div class="col-md-2 lead">
      <div class="waiter fade out">
        <div class="jumbotron-icon">
          <span class="fa fa-3 fa-magic"></span>
        </div>
        <div>Please wait...</div>
      </div>
    </div>
      
  </div>
  <!-- end choose_country -->
  

  <!-- edit_page -->
  <div class="text-left hide form" id="edit_page">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="input-group input-group-lg">
          <input type="text" id="silk_identifier" class="form-control">
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" id="btn_edit_page">Edit</button>
          </span>
        </div>
      </div>
    </div>
    <br>
  </div>
  <!-- end edit_page -->
  
  <!-- add_investor -->
  <div class="row text-left hide form" id="add_investor">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <div class="form-group row">
        
          <div class="col-md-6">
            <label for="investor_city">City</label>
            <input type="text" class="form-control" id="investor_city" name="investor_city">
          </div>
        </div>
        
        <div class="form-group">
          <label for="investor_description">Description / Comments</label>
          <textarea rows="5" class="form-control markdown-data" id="investor_description" name="investor_description"></textarea>
        </div>
        
        <p class="text-right">
          <a href="#" class="btn btn-info btn-lg" id="btn_submit_investor">Submit <i class="glyphicon glyphicon-upload"></i></a>
        </p>

      </div>
    </div>
  </div>
  <!-- end of add_investor -->
  
  <!-- add_community -->
  <div class="row text-left hide form" id="add_community">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <div class="form-group row">        
          <div class="col-md-6">
            <label for="community_city">City</label>
            <input type="text" class="form-control" id="community_city" name="community_city">
          </div>
        </div>
        
        <div class="form-group">
          <label for="community_description">Description / Comments</label>
          <textarea rows="5" class="form-control markdown-data" id="community_description" name="community_description"></textarea>
        </div>
        
        <p class="text-right">
          <a href="#" class="btn btn-info btn-lg" id="btn_submit_community">Submit <i class="glyphicon glyphicon-upload"></i></a>
        </p>

      </div>
    </div>
  </div>
  <!-- end of add_community -->
  
  <!-- add_people -->
  <div class="row text-left hide form" id="add_people">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <div class="form-group row">        
          <div class="col-md-6">
            <label for="person_city">City</label>
            <input type="text" class="form-control" id="person_city" name="person_city">
          </div>
        </div>
        
        <div class="form-group">
          <label for="person_description">Description / Comments</label>
          <textarea rows="5" class="form-control markdown-data" id="person_description" name="person_description"></textarea>
        </div>
        
        <p class="text-right">
          <a href="#" class="btn btn-info btn-lg" id="btn_submit_person">Submit <i class="glyphicon glyphicon-upload"></i></a>
        </p>

      </div>
    </div>
  </div>
  <!-- end of add_people -->
  
  <!-- add_opportunity -->
  <div class="row text-left hide form" id="add_opportunity">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <div class="form-group">
          <label for="opportunity_name">Local Market Leader</label>
          <select name="opportunity_name" id="opportunity_name" class="form-control" data-tag>
            <option>Remittance</option>
            <option>Crowdfunding</option>
            <option>Lending</option>
            <option>Gambling</option>
            <option>Desktop Gaming</option>
            <option>Mobile Gaming</option>
            <option>Music Streaming</option>
            <option>Microwork</option>
            <option>Virtual Assistant</option>
            <option>Outsourcing Services</option>
            <option>Merchange Processing</option>
            <option>Mobile Payments</option>
            <option>Online Payment</option>
            <option>Home Purchase</option>
            <option>Apartment Rental</option>
            <option>Housing Sharing</option>
            <option>Office Rental</option>
            <option>Job Boards</option>
            <option>Web Search</option>
            <option>Blogging</option>
            <option>Social Community</option>
            <option>Social Network</option>
            <option>Mobile Communication</option>
            <option>Private Car Service</option>
            <option>Taxi Service</option>
            <option>Carpool Service</option>
            <option>Plane Ticketing</option>
            <option>Hotel Booking</option>
            <option>Bitcoin Exchange</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="local_leader_name">Local Market Leader</label>
          <input type="text" class="form-control" id="local_leader_name" name="local_leader_name">
        </div>
        
        <div class="form-group row">        
          <div class="col-md-12">
            <label for="person_city">Local Players (separated by new line)</label>
            <textarea rows="5" class="form-control" id="local_players" name="local_players"></textarea>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-md-6">
            <label for="market_saturation">Market Saturation</label>
            <select name="market_saturation" id="market_saturation" class="form-control">
              <option value="4">Saturated</option>
              <option value="3">Mature</option>
              <option value="2">Semi-mature</option>
              <option value="1">Infancy</option>
              <option value="0">Non-existent</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="m_market_saturation">Mobile Market Saturation</label>
            <select name="m_market_saturation" id="m_market_saturation" class="form-control">
              <option value="4">Saturated</option>
              <option value="3">Mature</option>
              <option value="2">Semi-mature</option>
              <option value="1">Infancy</option>
              <option value="0">Non-existent</option>
            </select>
          </div>
        </div>
        
        <div class="form-group">
          <label for="opportunity_comments">Comments</label>
          <textarea rows="5" class="markdown-data form-control" id="opportunity_comments" name="opportunity_comments"></textarea>
        </div>
        
        <p class="text-right">
          <a href="#" class="btn btn-info btn-lg" id="btn_submit_person">Submit <i class="glyphicon glyphicon-upload"></i></a>
        </p>

      </div>
    </div>
  </div>
  <!-- end of add_opportunity -->
  
  <div class="col-md-6 col-md-offset-3 text-left hide" id="thanks">
    <h4>Thanks! <small>Moderation time.</small></h4>
    
    
    <p>
      Add more:
      <ul class="text-left">
        <li><a href="#" data-target="add_startup">Startups</a>?</li>
        <li><a href="#" data-target="add_investor">Investors</a>?</li>
        <li><a href="#" data-target="add_community">Communities</a>?</li>
      </ul>
    </p>
  </div>
  
  <div class="col-md-6 col-md-offset-3 text-right">
    <% else %>
    <%= link_to "Sign In", new_user_session_url %>
    <%- end -%>
  </div>
</div>

