<article data-article="" data-format="1" data-title="<%= title %>" data-tag-context="/tag/<%= category.downcase %>">
   <section class="body">
    <div class="layout meta">
      <p>hello</p>
      <img src="http://i.imgur.com/IpwY1fe.jpg" alt="Just in case" title="Tooltip" width="42" height="42" />
      <p>hello2</p>
    </div>
    <div class="layout content">
      <a data-tag-uri="/tag/reviewer">Gerard</a> is 30 years old.
      <%= @body %>
    </div>
    <br/>
  </section>
</article>