<div class="page-header text-center">
  <h1>Hello World!</h1>
</div>

<div class="text-center">
  <%- if current_user.present? %>
  <p class="text-center lead">
    Hi <%= current_user.identities.first.first_name %>!
  </p>

  <div class="row form" id="starting_point">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-body">
          <p>
            <a href="#" class="btn btn-block btn-primary btn-lg" data-target="choose_country">
              <i class="glyphicon glyphicon-plus-sign"></i> I want to add to WSW
            </a>
          </p>
          <p>
            <a href="#" class="btn btn-block btn-warning btn-lg">
              <i class="glyphicon glyphicon-edit"></i> I want to add to modify
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- choose_country -->
  <div class="row text-left hide form" id="choose_country">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <div class="form-group">
          <%= render 'shared/country_select' %>
        </div>
        
        <div class="form-group row">
          
          <div class="input-group col-md-4">
            <a href="#" class="btn btn-info btn-block" data-target="add_startup"><i class="glyphicon glyphicon-chevron-right"></i> Startup</a>
          </div>
          
          <div class="input-group col-md-4">
            <a href="#" class="btn btn-info btn-block" data-target="add_investor"><i class="glyphicon glyphicon-chevron-right"></i> Investor</a>
          </div>

          <div class="input-group col-md-4">
            <a href="#" class="btn btn-info btn-block" data-target="add_community"><i class="glyphicon glyphicon-chevron-right"></i> Community</a>
          </div>

        </div>

        
        <div class="form-group row">
          <div class="input-group col-md-4">
            <a href="#" class="btn btn-info btn-block" data-target="add_people"><i class="glyphicon glyphicon-chevron-right"></i> People</a>
          </div>
          <div class="input-group col-md-4">
            <a href="#" class="btn btn-info btn-block" data-target="add_opportunity"><i class="glyphicon glyphicon-chevron-right"></i> Opportunity</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end choose_country -->
  
  <!-- add_startup -->
  <div class="row text-left hide form" id="add_startup">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <div class="form-group">
          <label for="startup_name">Name</label>
          <input type="text" class="form-control" id="startup_name" name="startup_name">
        </div>
        
        <div class="form-group row">
          <div class="col-md-3">
            <label for="startup_year">Year Started</label>
            <input type="text" class="form-control" id="startup_year" name="startup_year">
          </div>
        
          <div class="col-md-3">
            <label for="startup_valuation">Valuation</label>
            <input type="text" class="form-control" id="startup_valuation" name="startup_valuation">
          </div>
        
          <div class="col-md-6">
            <label for="startup_city">City</label>
            <input type="text" class="form-control" id="startup_city" name="startup_city">
          </div>
        </div>
        
        <div class="form-group">
          <label for="startup_description">Description / Comments</label>
          <textarea rows="5" class="form-control" id="startup_description" name="startup_description"></textarea>
        </div>
        
        <p class="text-right">
          <a href="#" class="btn btn-info btn-lg" id="btn_submit_startup">Submit <i class="glyphicon glyphicon-upload"></i></a>
        </p>

      </div>
    </div>
  </div>
  <!-- end of add_startup -->
  
  <!-- add_investor -->
  <div class="row text-left hide form" id="add_investor">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <div class="form-group">
          <label for="investor_name">Name</label>
          <input type="text" class="form-control" id="investor_name" name="investor_name">
        </div>
        
        <div class="form-group row">
        
          <div class="col-md-6">
            <label for="investor_city">City</label>
            <input type="text" class="form-control" id="investor_city" name="investor_city">
          </div>
        </div>
        
        <div class="form-group">
          <label for="investor_description">Description / Comments</label>
          <textarea rows="5" class="form-control" id="investor_description" name="investor_description"></textarea>
        </div>
        
        <p class="text-right">
          <a href="#" class="btn btn-info btn-lg" id="btn_submit_investor">Submit <i class="glyphicon glyphicon-upload"></i></a>
        </p>

      </div>
    </div>
  </div>
  <!-- end of add_investor -->
  
  <!-- add_community -->
  <div class="row text-left hide form" id="add_community">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <div class="form-group">
          <label for="community_name">Name</label>
          <input type="text" class="form-control" id="community_name" name="community_name">
        </div>
        
        <div class="form-group row">        
          <div class="col-md-6">
            <label for="community_city">City</label>
            <input type="text" class="form-control" id="community_city" name="community_city">
          </div>
        </div>
        
        <div class="form-group">
          <label for="community_description">Description / Comments</label>
          <textarea rows="5" class="form-control" id="community_description" name="community_description"></textarea>
        </div>
        
        <p class="text-right">
          <a href="#" class="btn btn-info btn-lg" id="btn_submit_community">Submit <i class="glyphicon glyphicon-upload"></i></a>
        </p>

      </div>
    </div>
  </div>
  <!-- end of add_community -->
  
  <!-- add_people -->
  <div class="row text-left hide form" id="add_people">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <div class="form-group">
          <label for="person_name">Name</label>
          <input type="text" class="form-control" id="person_name" name="person_name">
        </div>
        
        <div class="form-group row">        
          <div class="col-md-6">
            <label for="person_city">City</label>
            <input type="text" class="form-control" id="person_city" name="person_city">
          </div>
        </div>
        
        <div class="form-group">
          <label for="person_description">Description / Comments</label>
          <textarea rows="5" class="form-control" id="person_description" name="person_description"></textarea>
        </div>
        
        <p class="text-right">
          <a href="#" class="btn btn-info btn-lg" id="btn_submit_person">Submit <i class="glyphicon glyphicon-upload"></i></a>
        </p>

      </div>
    </div>
  </div>
  <!-- end of add_people -->
  
  <!-- add_opportunity -->
  <div class="row text-left hide form" id="add_opportunity">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <div class="form-group">
          <label for="opportunity_name">Local Market Leader</label>
          <select name="opportunity_name" id="opportunity_name" class="form-control" data-tag>
            <option>Remittance</option>
            <option>Crowdfunding</option>
            <option>Lending</option>
            <option>Gambling</option>
            <option>Desktop Gaming</option>
            <option>Mobile Gaming</option>
            <option>Music Streaming</option>
            <option>Microwork</option>
            <option>Virtual Assistant</option>
            <option>Outsourcing Services</option>
            <option>Merchange Processing</option>
            <option>Mobile Payments</option>
            <option>Online Payment</option>
            <option>Home Purchase</option>
            <option>Apartment Rental</option>
            <option>Housing Sharing</option>
            <option>Office Rental</option>
            <option>Job Boards</option>
            <option>Web Search</option>
            <option>Blogging</option>
            <option>Social Community</option>
            <option>Social Network</option>
            <option>Mobile Communication</option>
            <option>Private Car Service</option>
            <option>Taxi Service</option>
            <option>Carpool Service</option>
            <option>Plane Ticketing</option>
            <option>Hotel Booking</option>
            <option>Bitcoin Exchange</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="local_leader_name">Local Market Leader</label>
          <input type="text" class="form-control" id="local_leader_name" name="local_leader_name">
        </div>
        
        <div class="form-group row">        
          <div class="col-md-12">
            <label for="person_city">Local Players (separated by new line)</label>
            <textarea rows="5" class="form-control" id="local_players" name="local_players"></textarea>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-md-6">
            <label for="market_saturation">Market Saturation</label>
            <select name="market_saturation" id="market_saturation" class="form-control">
              <option value="4">Saturated</option>
              <option value="3">Mature</option>
              <option value="2">Semi-mature</option>
              <option value="1">Infancy</option>
              <option value="0">Non-existent</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="m_market_saturation">Mobile Market Saturation</label>
            <select name="m_market_saturation" id="m_market_saturation" class="form-control">
              <option value="4">Saturated</option>
              <option value="3">Mature</option>
              <option value="2">Semi-mature</option>
              <option value="1">Infancy</option>
              <option value="0">Non-existent</option>
            </select>
          </div>
        </div>
        
        <div class="form-group">
          <label for="opportunity_comments">Comments</label>
          <textarea rows="5" class="markdown-data form-control" id="opportunity_comments" name="opportunity_comments"></textarea>
        </div>
        
        <p class="text-right">
          <a href="#" class="btn btn-info btn-lg" id="btn_submit_person">Submit <i class="glyphicon glyphicon-upload"></i></a>
        </p>

      </div>
    </div>
  </div>
  <!-- end of add_opportunity -->
  
  <div class="col-md-6 col-md-offset-3 text-left hide" id="thanks">
    <h4>Thanks! <small>Moderation time.</small></h4>
    
    
    <p>
      Add more:
      <ul class="text-left">
        <li><a href="#" data-target="add_startup">Startups</a>?</li>
        <li><a href="#" data-target="add_investor">Investors</a>?</li>
        <li><a href="#" data-target="add_community">Communities</a>?</li>
      </ul>
    </p>
  </div>
  
  <div class="col-md-6 col-md-offset-3 text-right">
    <%= link_to "Sign Out", destroy_user_session_url, method: :delete %>
    <% else %>
    <%= link_to "Sign In", new_user_session_url %>
    <%- end -%>
  </div>
</div>

